<!-- Header da aplicação -->
<ion-header [translucent]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Tarefas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


    <div class="container align-self-start mt-2 col-10 border bg-light">
      <section>
        <h2 class="titulo mt-3">Tarefas</h2>
        <div class="conteudo text-justify-end">
          <form method="post" class="container">
            <div class="card-body">
              <h5>A FAZER</h5>
            </div>
            <ion-card color="new" class="border mt-2 shadow">
              <ion-item color="new">
                <ion-label><input type="checkbox"> Desafio de Design UL/UX</ion-label>
              </ion-item>
              <ion-card-content>
                <ion-card-subtitle>
                  descrição, descrição, descrição.
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>

            <ion-card color="yellow" class="border mt-3 shadow">
              <ion-item color="yellow">
                <ion-label><input type="checkbox"> Entrevista com a empresa</ion-label>
              </ion-item>
              <ion-card-content>
                <ion-card-subtitle>
                  descrição, descrição, descrição.
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>

            <ion-card color="blue" class="ion-color-#fe746f border mt-3">
              <ion-item color="blue">
                <ion-label><input type="checkbox"> Contratação</ion-label>
              </ion-item>
              <ion-card-content>
                <ion-card-subtitle>
                  descrição, descrição, descrição.
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </form>
          <div class="mt-3 text-right">
            <a type="button">Ver Todos</a>
          </div>
        </div>
      </section>

      <section>
        <div class="container mt-3">
          <div class="conteudo text-justify-end">
            <div class="card-body">
              <h5>EM PROGRESSO</h5>
            </div>
            <form method="post" class="container">

            </form>
          </div>
        </div>
      </section>
    </div>
