h5{
  color: #5d91e0;
  font-family:'Open Sans', sans-serif;
}


.formBody{
 display: flex;
 justify-content: center center;
 min-height: 30vh;
 align-items: center;

}

ion-item{
 border-color: darkgray;
 background-color: darkgray;

}
